force-app/main/default/flows/Invocable_Rollup_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invocable_Apex_for_Rollup_Calculation</name>
        <label>Invocable Apex for Rollup Calculation</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>InvocableRollupForAccount</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Rollup_Details</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>countOfContacts_FromApex</assignToReference>
            <name>countOfContacts</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>countOfOpps_FromApex</assignToReference>
            <name>countOfOpps</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>sumOfOpps_FromApex</assignToReference>
            <name>sumOfOpps</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Invocable - Rollup Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invocable - Rollup Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Rollup_Details</name>
        <label>Rollup Details</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invocable_Apex_for_Rollup_Calculation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countOfContacts_FromApex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countOfOpps_FromApex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sumOfOpps_FromApex</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
